* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  .client div:first-child img {
    width: 4rem;
    border-radius: 50%; }

nav .navbar--btn {
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
  background-color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase; }

.gallery .gallery--container {
  display: flex; }
  .gallery .gallery--container > div img {
    width: 100%; }
    .gallery .gallery--container > div img.gallery--img-mobile {
      display: none; }

header {
  min-height: 100vh;
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: white;
    font-size: 4rem; }

main .main--container {
  display: flex;
  flex-wrap: wrap; }
  main .main--container .main--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%; }
  main .main--container .main--image img {
    width: 100%; }
  main .main--container .main--wrapper {
    display: flex;
    flex-direction: column; }
    main .main--container .main--wrapper.main--wrapper--left {
      background-image: url("/images/desktop/image-graphic-design.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    main .main--container .main--wrapper.main--wrapper--right {
      background-image: url("/images/desktop/image-photography.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  main .main--container div:first-child {
    display: flex;
    width: 100%; }
  main .main--container div:nth-of-type(2) {
    display: flex;
    width: 100%;
    flex-direction: row-reverse; }
  main .main--container div:last-child {
    display: flex;
    width: 100%; }

main .main--image--mobile {
  display: none; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav div:nth-of-type(2) {
    width: 25rem; }
    nav div:nth-of-type(2) li {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav div:nth-of-type(2) li a {
        text-decoration: none;
        color: white; }
  nav div:last-child {
    display: none; }

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  height: 100vh; }
  .testimonial .testimonial--header h4 {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: #a7abae;
    letter-spacing: 0.2rem; }
  .testimonial .testimonial--container {
    display: flex;
    justify-content: space-evenly;
    height: 60%; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 300; }
