* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

nav .navbar--btn {
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
  background-color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase; }

nav {
  height: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav div:nth-of-type(2) {
    width: 15%; }
    nav div:nth-of-type(2) li {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav div:nth-of-type(2) li a {
        text-decoration: none;
        color: white; }
  nav div:last-child {
    display: none; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 300; }
