/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box; }

/*
  2. Remove default margin
*/
* {
  margin: 0; }

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%; }

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit; }

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate; }

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  .client div:first-child img {
    width: 4rem;
    border-radius: 50%; }
  .client:not(:last-child) {
    margin-right: 2rem; }

.contact--links {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .contact--links a {
    color: #25564b;
    text-decoration: none; }

.contact--social {
  width: 20%;
  display: flex;
  justify-content: space-between; }

.main--content > div {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }

.main--content h2 {
  font-family: "Fraunces", serif;
  font-weight: 900; }

.main--image img {
  width: 100%; }

nav .navbar--btn {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #000;
  background-color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  cursor: pointer; }

@media (max-width: 800px) {
  nav .navbar--btn {
    color: white;
    background-color: #23303e; } }

.content-btn {
  border: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  position: relative;
  z-index: 1;
  cursor: pointer; }
  .content-btn::after {
    content: "";
    background-color: #fad400;
    opacity: 30%;
    height: 0.7rem;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 0; }

footer {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #458c7e; }
  footer div:first-child {
    width: 30%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    footer div:first-child .contact--header img {
      color: #25564b; }

.gallery .gallery--container {
  display: flex; }
  .gallery .gallery--container > div img {
    width: 100%; }
    .gallery .gallery--container > div img.gallery--img-mobile {
      display: none; }

header {
  min-height: 100vh;
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    margin-bottom: 4rem; }

main .main--container {
  display: flex;
  flex-wrap: wrap; }
  main .main--container div:first-child {
    display: flex;
    width: 100%; }
  main .main--container div:nth-of-type(2) {
    display: flex;
    width: 100%;
    flex-direction: row-reverse; }
  main .main--container div:last-child {
    display: flex;
    width: 100%; }

main .main--image--mobile {
  display: none; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .nav--links {
    min-width: 35rem; }
    nav .nav--links ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .nav--links ul li {
        list-style: none; }
        nav .nav--links ul li a {
          text-decoration: none;
          color: white;
          font-weight: 700; }
  nav .nav--btn-toggle {
    display: none; }

nav.nav-active {
  background-color: white;
  color: #fad400; }
  nav.nav-active div:first-child img {
    fill: #23303e; }
  nav.nav-active .nav--links li a {
    color: #23303e; }
  nav.nav-active .nav--links li button {
    background-color: #23303e;
    color: white; }

@media (max-width: 800px) {
  nav .nav--links {
    position: fixed;
    top: -1000px;
    left: 0;
    background-color: white;
    height: 25rem;
    width: 100%;
    text-align: center;
    transition: 600ms; }
    nav .nav--links ul {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%; }
      nav .nav--links ul li a {
        color: #23303e; }
  nav .nav--links.active {
    top: 5rem; }
  nav .nav--btn-toggle {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer; }
  nav.nav-active {
    background-color: #23303e; } }

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  height: 100vh; }
  .testimonial .testimonial--header h4 {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: #a7abae;
    letter-spacing: 0.2rem; }
  .testimonial .testimonial--container {
    display: flex;
    justify-content: space-evenly;
    height: 60%; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  height: 100%; }

html {
  scroll-behavior: smooth; }
