.contact--links {
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
                color: $graphic-design-text;
                text-decoration: none;
            }
        }