.main--content {
    > div {
        padding: 5rem;
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    }

    h2 {
        font-family: $ff-fraunces;
        font-weight: $fw-900;
    }
}