main {
    .main--container {
        display: flex;
        flex-wrap: wrap;

        // first row
        div:first-child {
            display: flex;
            width: 100%;
        }

        // first row
        div:nth-of-type(2) {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
        }

        // first row
        div:last-child {
            display: flex;
            width: 100%;
        }
    }



    .main--image--mobile {
        display: none;
    }
}