nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 5rem;
    padding-inline: 2rem;

    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;

    // div:first-child {

    // }

    // menu links
    div:nth-of-type(2) {
        width: 15%;
        
        // flex
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    // menu icon mobile
    div:last-child {
        display: none;
    }
}