nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 5rem;
    padding-inline: 2rem;

    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;

    // menu links
    .nav--links {   
        min-width: 35rem;
        // flex
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $white;
                    font-weight: $fw-700;
                }
            }
            
        }
    }

    // menu icon mobile
    .nav--btn-toggle {
        display: none;
    }
}


// nav on scroll
nav.nav-active {
    background-color: $white;
    color: $yellow;

    div:first-child {
        img {
            fill: $very-dark-desaturated-blue;
        }
    }

    .nav--links {   
        // flex
        li {
            a {
                color: $very-dark-desaturated-blue;
            }

            button {
                background-color: $very-dark-desaturated-blue;
                color: $white;
            }
        }
    }
}

// on mobile view
@media (max-width: 800px) {
    nav {
        .nav--links {   
            position: fixed;
            top: -1000px;
            left: 0;
            background-color: $white;
            height: 25rem;
            width: 100%;
            text-align: center;
            transition: 600ms;
            ul {
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
                li {
                    a {
                        color: $very-dark-desaturated-blue;
                    }
                }
            }
        }

        .nav--links.active {
            top: 5rem;
        }

        // menu icon mobile
        .nav--btn-toggle {
            display: block;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    nav.nav-active {
    background-color: $very-dark-desaturated-blue;
}
}