nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 5rem;
    padding-inline: 2rem;

    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;

    // menu links
    .nav--links {   
        width: 50%;
        // flex
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $white;
                    font-weight: $fw-700;
                }
            }
            
        }
    }

    // menu icon mobile
    .nav--btn-toggle {
        display: none;
    }
}


// nav on scroll
nav.nav-active {
    background-color: $white;
    color: $yellow;

    div:first-child {
        img {
            filter: opacity(80%) brightness(0%);
        }
    }

    .nav--links {   
        // flex
        li {
            a {
                color: $very-dark-desaturated-blue;
            }

            button {
                background-color: $very-dark-desaturated-blue;
                color: $white;
            }
        }
    }
}

// on mobile view
@media (max-width: 800px) {
    nav {
        .nav--links {   
            position: fixed;
            top: -1000px;
            left: 0;
            background-color: $white;
            height: 30rem;
            width: 80%;
            text-align: center;
            transition: 600ms;
            ul {
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
                li {
                    a {
                        color: $very-dark-desaturated-blue;
                    }

                    button {
                background-color: $yellow;
                color: $very-dark-desaturated-blue;
            
                    }
                }
            }
        }

        .nav--links.active {
            top: 5rem;
            left: 10%;
            clip-path: polygon(0 10%, 92% 10%, 100% 0, 100% 100%, 0 100%);
            padding-top: 5rem;
        }

        // menu icon mobile
        .nav--btn-toggle {
            display: block;
            background: transparent;
            border: none;
            cursor: pointer;
            
            &.active {
                animation: rotateX 1s ease-in-out;
                @keyframes rotateX {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
            }
        }
    }

    nav.nav-active {
        button {
            img {
                filter: brightness(0%);
            }
        }
}
}