.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
    height: 100vh;

    .testimonial--header {
        h4 {
            text-transform: uppercase;
            font-family: $ff-fraunces;
            color: $grayish-blue;
            letter-spacing: 0.2rem;
        }
    }

    .testimonial--container {
        display: flex;
        justify-content: space-evenly;
        height: 60%;

        // .client--testimonial {
        //     // font-weight: $fw-600;
        // }

        .client--name {
            font-family: $ff-fraunces;
            font-weight: $fw-900;
        }

        .client--job-position {
            color: $grayish-blue;
        }
    }
}

@media (max-width: 800px) {
    .testimonial {
        min-height: 60rem;
        justify-content: space-evenly;

        .testimonial--container {
            height: 90%;
            flex-direction: column;
            justify-content: space-between;
        .client {
            
            margin-right: 0;
        }
    }
    }

    .testimonial--header {

    }

    
}